@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;1,600&display=swap');

:root {
  /*Primary*/
  --Orange: hsl(25, 97%, 53%);
  /*Neutral*/
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsl(216, 12%, 54%);
  --Medium-Blue: hsl(210, 32%, 22%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  font-family: 'Overpass', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

a {
    text-decoration: none;
}

button { border: 0;}

ol, ul {
  list-style: none;
}

fieldset {
  border: none;
}
